footer {
    width: 100%;
    background: #000;
    margin-top: 2rem;
    padding: .5rem;
}

.footer-wrapper {
    width: 90%;
    margin: auto;
}

.copyright {
    text-align: center;
    font-size: 1rem;
    color: #e4e4e4;
}