footer {
    width: 100%;
    background: #777;
    margin-top: 2rem;
}

.footer-wrapper {
    width: 90%;
    margin: auto;
}

.copyright {
    text-align: center;
    font-size: .9rem;
    color: #e4e4e4;
}